.header-banner{
    /* background-image: url("https://i.pinimg.com/736x/9c/d8/62/9cd86264956110a12c78c54d296451c3.jpg"); */
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
    
 }