.header-banner{
    background-image: url("https://i.pinimg.com/736x/55/fa/43/55fa436b3e73fde3b8404be3f31b4360.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
 }